w*~
*.swp
/node_modules
/front/node_modules
/public/dist
/report.xml
# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*.rdb
*.pub
*.log
*.out
*.map
semioe
*~
*.sass-cache
.DS_Store
.idea
.vscode
front/node_modules/
config.debug.js